@import '~reveal.js/dist/reveal.css';
@import '~reveal.js/dist/theme/simple.css';

@font-face {
    font-family: "comfortaaBold";
    src: url("./comfortaa/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: "comfortaaSemiBold";
    src: url("./comfortaa/Comfortaa-SemiBold.ttf");
}

@font-face {
    font-family: "comfortaaRegular";
    src: url("./comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "comfortaaMedium";
    src: url("./comfortaa/Comfortaa-Medium.ttf");
}

@font-face {
    font-family: "comfortaaLight";
    src: url("./comfortaa/Comfortaa-Light.ttf");
}

@font-face {
    font-family: "AvenirLTProMedium";
    src: url("./avenir/AvenirLTProMedium.otf");
}

@font-face {
    font-family: "AvenirLTProMediumOblique";
    src: url("./avenir/AvenirLTProMediumOblique.otf");
}

@font-face {
    font-family: "AvenirLTProBlack";
    src: url("./avenir/AvenirLTProBlack.otf");
}

@font-face {
    font-family: "AvenirLTProHeavy";
    src: url("./avenir/AvenirLTProHeavy.otf");
}

@font-face {
    font-family: "AvenirLTProHeavyOblique";
    src: url("./avenir/AvenirLTProHeavyOblique.otf");
}

@font-face {
    font-family: "AvenirLTProLight";
    src: url("./avenir/AvenirLTProLight.otf");
}

body {
    color: #020202;
    font-family: "AvenirLTProMedium"
}

.reveal-viewport {
    background-color: #FFFBFF;
}

.reveal .fireworksEnd {
    color: #FFFBFF;
}

.reveal .controls button {
    color: #A4DE96 !important;
}

.reveal .controls button:hover {
    color: #49BEAA !important;
}

.reveal .progress {
    background-color: #A4DE96;
}

.reveal .progress span {
    background-color: #49BEAA;
}

.reveal .slides {
    text-align: justify;
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6,
.reveal .center {
    font-family: "ComfortaaBold";
    text-align: center;
}

.reveal h3 {
    font-size: 3rem;
}

.reveal img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.reveal .bgText {
    background-color: rgba(255, 255, 2555, 0.8);
}

p, ul li, ol li {
    font-size: calc(1em - 40%);
}

ul li, ol li {
    font-family: "AvenirLTProMediumOblique";
}

p i {
    font-family: "AvenirLTProHeavyOblique";
}

small, p.right {
    font-family: "AvenirLTProLight";
}

strong {
    font-family: "AvenirLTProBlack";
}

strong.big {
    font-size: 2rem;
}

section .asideImage, section .main {
    display: inline-block;
}

section .asideImage {
    width: 40%;
}

section .asideImage img {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
}

section .main {
    width: 50%;
}

section p.right {
    text-align: right;
}

section .chartContainer {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section .fireworksContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}